<section main>
    <%- include('./chat/message.ejs') %>
    <%- include('./groceries/list.ejs') %>
</section>

<section drinks>
    <% drinks.forEach(drink => { %>
    <article id="<%= drink.idDrink %>">
        <img src="<%= drink.strDrinkThumb %>">
        <p><%= drink.strDrink %></p>
    </article>
    <% }) %>
</section>